.container-button {
  display: flex;
  justify-content: center;
}

.carousel {
  font-size: 18px;
}

.container-carousel {
  align-items: center;
  display: flex;
}

.button-icon {
  cursor: pointer;
}
