@import '~@angular/material/prebuilt-themes/purple-green.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-body {
  padding: 20px;
}

.button-basic {
  margin: 0;
  background-color: inherit;
  border: 0;
  color: white;
}
