<nav>
  <h4 class="mb-0">
    <span>
      <a href="" class="text-reset">Início</a>
    </span>
    <span>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chevron_right"></mat-icon>
    </span>
    <span>
      <a href="" class="text-reset"><u>Dashboard</u></a>
    </span>
    <span>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chevron_right"></mat-icon>
    </span>
    <span>
      <a href="receitas" class="text-reset"><u>Receitas</u></a>
    </span>
  </h4>
</nav>
